################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/dotnet/libraries/BinaryStudio.SqlServer.Infrastructure/bin
/src/dotnet/libraries/BinaryStudio.SqlServer.Infrastructure/obj
/src/dotnet/libraries/IPGPhotonics.PDB.Infrastructure/obj
/src/dotnet/libraries/IPGPhotonics.PDB.Infrastructure/bin
/src/dotnet/tests/dacpac/bin
/src/dotnet/tests/dacpac/obj
/src/dotnet/tests/dacpac/.vs/dacpac/v16
/src/dotnet/tests/dacpac/2022.07.05.0847.a2cx
/src/dotnet/tests/dacpac/2022.07.05.0847.xml
/src/dotnet/tests/db/bin/Debug
/src/dotnet/tests/db/obj/Debug
*.user
/src/dotnet/tests/db/db.dbmdl
/src/dotnet/tests/db/db.jfm
/.intermediate/pdb/Modules
/.intermediate/pdb/Enums
/.intermediate/pdb
/src/dotnet/tests/BinaryStudio.TestTools.UnitTesting.SqlServer.Infrastructure/bin
/src/dotnet/tests/BinaryStudio.TestTools.UnitTesting.SqlServer.Infrastructure/obj
/src/dotnet/tests/BinaryStudio.TestTools.UnitTesting.IPGPhotonics.PDB.Infrastructure/bin/Debug/net48
